* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  background-color: hsl(235, 18%, 26%);
}

.wrapper {
  display: flex;
  padding: 30px 50px 35px;
  border-radius: 12px;
  width: 100%;
  max-width: 350px;
  background-color: white;
}

.messagemain {
  display: flex;
  flex-direction: column;
}

.icone {
  height: 40px;
  width: 40px;
}

.contentwrapper {
  display: flex;
  flex-direction: column;
}

.contentwrapper .thanksforsub {
  font-size: 35px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
  line-height: 35px;
}

.contentwrapper .message {
  font-size: 14px;
  font-weight: 400;
  color: hsl(234, 29%, 20%);
  padding-bottom: 24px;
}
.button button {
  height: 40px;
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
}
